.blog {
    width: 50%;
    margin: 2rem auto;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
}

.blog article {
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
}

.btn button {
    margin-right: 1rem;
    width: 4rem;
}

.counting span {
    margin-left: 1rem;
}

i {
    color: blue;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .blog {
        width: 80%;
    }

    .btn {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .counting {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}